@font-face {
    font-family: graphik;
    src: url(GraphikRegular.otf);
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: black;
    height: 100%;
    font-family: graphik;
    scroll-behavior: smooth;
    transition: all 0.3s ease; /* Added transition */
}

.bg {
    background-image: url('bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: inherit;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: background-image 0.3s ease; /* Added transition */
}

.ff {
    align-items: center;
    justify-content: center;
    display: flex;
    width: inherit;
    height: 100vh;
    transition: all 0.3s ease; /* Added transition */
}

.content {
    background-color: #872EA9;
    width: 1000px;
    height: 550px;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    transition: all 0.3s ease; /* Added transition */
}

.picbg {
    width: inherit;
    height: inherit;
    transition: transform 0.5s ease, opacity 0.3s ease; /* Modified transition */
    padding: 5px 5px 5px 5px;
}

.picbg1 {
    z-index: 2;
    height: 540px;
}

.picbg2 {
    background-image: url('try1.PNG');
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    background-repeat: no-repeat;
    z-index: 1;
    height: 540px;
}

.picbg3 {
    display: none;
}

.head {
    margin-top: 2%;
    width: 395px;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.form {
    width: 370px;
    height: auto;
    padding: 0 5% 5% 5%;
    margin-left: 5%;
}

.form1 {
    width: 370px;
    height: auto;
    padding: 5% 5% 5% 5%;
    margin-left: 10%;
}

.head1 {
    margin-top: 2%;
    width: 395px;
    height: auto;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

p {
    font-size: 12px;
    color: white;
    font-weight: bolder;
    font-family: graphik;
}

h1 {
    color: white;
    font-family: graphik;
    font-weight: bolder;
}

#head-logo {
    width: 110px;
    height: 70px;
}

#text, #text1 {
    height: 25px;
    border-radius: 10px;
    border: none;
    width: 163px;
    padding-left: 10px;
    font-family: graphik;
    font-size: 15px;
    background-color: #C890F3;
    color: rgb(252, 236, 236);
}

#text::placeholder, #text1::placeholder {
    color: rgb(231, 223, 223);
}

#text[type="text"]:focus, #text1[type="text"]:focus {
    outline: none;
}

#text2, #text3 {
    height: 25px;
    width: 357px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    font-family: graphik;
    font-size: 15px;
    background-color: #C890F3;
    color: rgb(252, 236, 236);
}

#text2::placeholder, #text3::placeholder {
    color: rgb(231, 223, 223);
}

#text2[type="email"]:focus, #text3[type="password"]:focus {
    outline: none;
}

#log-in {
    width: 368px;
    background-color: white;
    height: 30px;
    border: none;
    border-radius: 50px;
    color: #872EA9;
    font-weight: bold;
}

.icons{
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.icons img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#f-p{
    text-align: end;
    cursor: pointer;
}

#loginBtn, #signupBtn {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bolder;
    
    color: white;
    font-family: graphik;
    font-weight: bolder;

}

#point {
    color: #C890F3;
}

#pcolor {
    color: #D3D3D3;
}

button {
    cursor: pointer;
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .ff {
        padding: 5% 5% 5% 5%;
    }

    .icons{
        padding-left: 78px;
    }

    .icons img{
        margin-left: 5px;
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }


    .content, .content2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 500px;
        padding: 2% 2% 2% 2%;
        background-image: url('bg3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease; /* Added transition */
    }

    .picbg1,
    .picbg2 {
        display: none;
    }

    .picbg3 {
        display: block;
        opacity: 1;
        height: inherit;
        width: inherit;
    }

    #content1, #content2 {
        transition: opacity 0.3s ease;
    }

    .smform {
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .sm {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #sm-logo {
        width: 120px;
        height: 80px;
    }

    .conform {
        width: 300px;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }

    #text, #text1, #text2, #text3{
        width: 295px;
    }

    #log-in{
        width: 305px;
    }

    #switchContentBtn, #switchContentBtn2 {
        text-decoration: underline;
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .icons{
        padding-left: 78px;
    }

    .icons img{
        margin-left: 5px;
        margin-right: 5px;
        width: 25px;
        height: 25px;
    }


    .ff {
        padding: 5% 5% 5% 5%;
    }

    .content, .content2 {
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 3% 3% 3% 3%;
        background-image: url('bg3.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease; /* Added transition */
    }

    .picbg1,
    .picbg2 {
        display: none;
    }

    .picbg3 {
        display: block;
        opacity: 1;
        height: inherit;
        width: inherit;
    }

    #content1, #content2 {
        transition: opacity 0.3s ease;
    }

    .smform {
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .sm {
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #sm-logo {
        width: 130px;
        height: 80px;
    }

    .conform {
        width: 300px;
        height: auto;
    }

    h1 {
        font-size: 20px;
    }

    #text, #text1, #text2, #text3 {
        width: 288px;
    }

    #log-in{
        width: 300px;
    }

    #switchContentBtn, #switchContentBtn2 {
        text-decoration: underline;
        cursor: pointer;
    }
}
